.new-grid-btn{
    background-color:#81fc93;
    padding:10px;
    margin-bottom:8px;
    font-size:20px;
}

#container{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    height:860px;
    width:860px;
    background-color:#d5f5da;
}

.new-container{
    display:flex;
    flex-wrap:wrap;
    height:860px;
    width:860px;
    background-color:#d5f5da;
}

.square-column{
    display:flex;
    width:860px;
    border:1px solid black;
}

.square-child{
    width:860px;
    border-left:1px solid black;
    border-right:1px solid black;
}

