.new-grid-btn{
    background-color:orange;
}

#container{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    /*align-items:stretch;*/
    height:860px;
    width:860px;
    background-color:yellow;
}

.new-container{
    display:flex;
    flex-wrap:wrap;
    /*align-items:stretch;*/
    height:860px;
    width:860px;
    background-color:yellow;
}

.square-column{
    display:flex;
    
    /*align-content:center;*/
    color: red;
    background-color: yellow;
    
    width:860px;
    border:1px solid black;
    
}

.square-child{
    color: red;
    
    width:860px;
    
    
    
    border-left:1px solid black;
    border-right:1px solid black;
}